<% include includes/head.html %>
<% include includes/menuLibreAcceso.html %>
<h1>Login</h1>
<% if (mensajeError !== ''){ %>
<h2><%= mensajeError %></h2>
<% } %>
<form role="form" method="POST" action="/usuariosLogin">
	<div class="form-group">
	  <label for="email">Email:</label>
	  <input type="email" class="form-control" id="email" name="email">
	</div>
	<div class="form-group">
	  <label for="clave">Clave:</label>
	  <input type="password" class="form-control" id="clave" name="clave">
	</div>
  	<button type="submit" class="btn btn-default">Ingresar</button>
</form>		
<% include includes/footer.html %>